<div class="container">

    <div class="row" style="width: 100%;">

        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <h3>Inicio de Sesion</h3>


                <form style="padding: 20px;">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control">
                        <label for="usuario">Usuario</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control">
                   </div>


                </form>

            </div>
        </div>

    </div>

</div>