<div class="container">

    <h3 class="header text-center">Agendar Reservacion</h3>
    <div class="form-wrap">
        <form id="survey-form" [formGroup]="agendarReservacion" (ngSubmit)="guardarReservacion()">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha de la Reserva</label>

                        <div class="input-group">
                            <input class="form-control" formControlName="fecha" placeholder="yyyy-mm-dd" name="dp"
                                ngbDatepicker #d="ngbDatepicker" (dateSelect)="onSelect($event)" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                type="button"></button>
                        </div>


                    </div>
                    <span class="text-danger"
                        *ngIf="agendarReservacion.get('fecha')?.hasError('required') && agendarReservacion.get('fecha')?.touched">Fecha
                        es
                        requerida</span>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Hora de la Reserva</label>
                        <input type="time" formControlName="hora" placeholder="Enter your Time" class="form-control"
                            min="08:00:00" max="17:00:00" step="3600000">

                    </div>
                    <span class="text-danger"
                        *ngIf="agendarReservacion.get('hora')?.hasError('required') && agendarReservacion.get('hora')?.touched">Hora
                        es
                        requerida</span>
                </div>

            </div>


            <div class="row">

                <div class="col-md-8">
                    <div class="form-group">
                        <label>Estilista</label>
                        <!--Using items input-->
                        <ng-select [items]="listEstilistas" bindLabel="nombre" bindValue="id"
                            formControlName="estilista">

                            <ng-template ng-label-tmp let-item=" item">
                                {{item.nombre}} {{item.apellidos}}
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                {{item.nombre}} {{item.apellidos}}
                            </ng-template>

                        </ng-select>
                    </div>
                </div>
                <span class="text-danger"
                    *ngIf="agendarReservacion.get('estilista')?.hasError('required') && agendarReservacion.get('estilista')?.touched">Estilista
                    es
                    requerido</span>

            </div>


            <div class="row">

                <div class="col-md-8">
                    <div class="form-group">
                        <label>Cliente</label>
                        <!--Using items input-->
                        <ng-select [items]="listClientes" bindLabel="nombre" bindValue="id" formControlName="cliente">

                            <ng-template ng-label-tmp let-item=" item">
                                {{item.nombre}} {{item.apellidos}}
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                {{item.nombre}} {{item.apellidos}}
                            </ng-template>

                        </ng-select>
                    </div>

                    <span class="text-danger"
                        *ngIf="agendarReservacion.get('cliente')?.hasError('required') && agendarReservacion.get('cleient')?.touched">Cliente
                        es
                        requerido</span>
                </div>

            </div>


            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Servicio</label>
                        <!--Using items input-->
                        <ng-select [ngModelOptions]="{standalone: true}" (change)="changeValueServicios($event)"
                            [multiple]="true" groupBy="selectedAllGroup" [selectableGroup]="true"
                            [items]="listServicios" bindLabel="nombre" bindValue="id" [(ngModel)]="selectedServicios">
                        </ng-select>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class=" text-center ">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="this.agendarReservacion.invalid"><span>Aceptar</span></button>
                    <button type="button" class="btn btn-secondary" (click)="reset()"><span>Cancelar</span></button>
                </div>
            </div>
        </form>
    </div>
</div>