<div class="container">

    <h3 class="header text-center">Agendar Reservacion</h3>
    <div class="form-wrap">
        <form id="survey-form">

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Fecha de la Reserva</label>

                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                #d="ngbDatepicker" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                type="button"></button>
                        </div>


                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label>Hora de la Reserva</label>
                        <input type="time" placeholder="Enter your Time" class="form-control" min="08:00:00"
                            max="17:00:00" step="3600000">

                    </div>
                </div>

            </div>


            <div class="row">


                <div class="col-md-10">
                    <div class="form-group">
                        <label>Estilista</label>
                        <select class="form-control">
                            <option value="null" [selected]="true" disabled>Seleccione...</option>
                            <option *ngFor="let estilista of listEstilistas; let i=index" value="estilista.id">
                                {{estilista.nombre}} {{estilista.apellidos}}
                            </option>

                        </select>
                    </div>
                </div>

            </div>

            <div class="row">


                <div class="col-md-10">
                    <div class="form-group">
                        <label>Cliente</label>
                        <select class="form-control">
                            <option value="null" [selected]="true" disabled>Seleccione...</option>
                            <option *ngFor="let cliente of listClientes; let i=index" value="cliente.id">
                                {{cliente.nombre}} {{cliente.apellidos}}
                            </option>

                        </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <!--Using items input-->
                <ng-select [items]="listServicios" bindLabel="nombre" bindValue="id" [(ngModel)]="selectedCar">
                </ng-select>
            </div>








            <div class="row">
                <div class=" text-center ">
                    <button type="submit" class="btn btn-primary"><span>Aceptar</span></button>
                    <button type="button" class="btn btn-secondary"><span>Cancelar</span></button>
                </div>
            </div>
        </form>
    </div>
</div>