<div class="container">

    <h3 class=" header text-center">Editar Usuario</h3>
    <div class="form-wrap">
        <form id="survey-form" [formGroup]="editarUsuario" (ngSubmit)="guardarUsuario()">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="nombre" [value]="nombre" placeholder="Enter your First name"
                            class="form-control">

                        <span class="text-danger" *ngIf="editarUsuario.get('nombre')?.hasError('required') ">Nombre
                            es
                            requerido</span>

                        <span class="text-danger" *ngIf="editarUsuario.get('nombre')?.hasError('pattern')">Solo
                            letras</span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" formControlName="apellidos" [value]="apellidos"
                            placeholder="Enter your Last name" class="form-control">
                        <span class="text-danger" *ngIf="editarUsuario.get('apellidos')?.hasError('required') ">Nombre
                            es
                            requerido</span>


                        <span class="text-danger" *ngIf="editarUsuario.get('apellidos')?.hasError('pattern')">Solo
                            letras</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" formControlName="nombreUsuario" [value]="usuario"
                            placeholder="Enter your User" class="form-control">

                        <span class="text-danger"
                            *ngIf="editarUsuario.get('nombreUsuario')?.hasError('required') ">Nombre
                            es
                            requerido</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" [value]="password" placeholder=" Enter your
                            Password" class="form-control">
                        <span class="text-danger" *ngIf="editarUsuario.get('password')?.hasError('required') ">Password
                            es
                            requerido</span>

                        <span class="text-danger " *ngIf="editarUsuario.get('password')?.hasError('minlength') ">
                            La contraseña debe tener minimo 4 digitos
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Confirmar</label>
                        <input type="password" formControlName="confirmar" [value]="password"
                            placeholder="Enter your Password" class="form-control">
                        <span class="text-danger" *ngIf="editarUsuario.hasError('notSame')">
                            Contraseñas no coinciden
                        </span>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class=" text-center ">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="this.editarUsuario.invalid"><span>Aceptar</span></button>
                    <button class="btn btn-secondary" (click)="reset()"><span>Cancelar</span></button>
                </div>
            </div>
        </form>
    </div>
</div>