<div class="container">

    <h3 class=" header text-center">Cambio de Password</h3>
    <div class="form-wrap">
        <form id="survey-form" [formGroup]="cambioPassword" (ngSubmit)="cambiarPassword()">

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nueva Password</label>
                        <input type="password" formControlName="password" placeholder="Enter your Password"
                            class="form-control">
                        <span class="text-danger"
                            *ngIf="registrarUsuario.get('password')?.hasError('required') && registrarUsuario.get('password')?.touched">Password
                            es
                            requerido</span>

                        <span class="text-danger "
                            *ngIf="registrarUsuario.get('password')?.hasError('minlength') && registrarUsuario.get('password')?.touched">
                            La contraseña debe tener minimo 4 digitos
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Confirmar</label>
                        <input type="password" formControlName="confirmar" placeholder="Enter your Password"
                            class="form-control">
                        <span class="text-danger" *ngIf="registrarUsuario.hasError('notSame')">
                            Contraseñas no coinciden
                        </span>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class=" text-center ">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="this.registrarUsuario.invalid"><span>Aceptar</span></button>
                    <button type="button" class="btn btn-secondary" (click)="reset()"><span>Cancelar</span></button>
                </div>
            </div>
        </form>
    </div>
</div>