<div class="container">

    <h3 class=" header text-center">Editar Estilista</h3>
    <div class="form-wrap">
        <form id="survey-form" [formGroup]="registroEstilista" (ngSubmit)="guardarEstilista()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="nombre" placeholder="Enter your First name"
                            class="form-control">

                        <span class="text-danger" *ngIf="registroEstilista.get('nombre')?.hasError('required')">Nombre
                            es
                            requerido</span>

                        <span class="text-danger" *ngIf="registroEstilista.get('nombre')?.hasError('pattern')">Solo
                            letras</span>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" formControlName="apellidos" placeholder="Enter your Last name"
                            class="form-control">
                        <span class="text-danger"
                            *ngIf="registroEstilista.get('apellidos')?.hasError('required') ">Apellidos
                            es
                            requerido</span>

                        <span class="text-danger" *ngIf="registroEstilista.get('apellidos')?.hasError('pattern')">Solo
                            letras</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipo Identificacion</label>

                        <select class="form-control" formControlName="tipoIdentificacion">
                            <option value="null" [selected]="true" disabled>Selecciona una opción</option>
                            <option value="CED">
                                Cedula
                            </option>
                            <option value="PAS">
                                Pasaporte
                            </option>
                        </select>

                        <span class="text-danger"
                            *ngIf="registroEstilista.get('tipoIdentificacion')?.hasError('required') ">Tipo
                            de identificacion
                            es
                            requerido</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Identificacion</label>
                        <input type="text" formControlName="identificacion" placeholder=" Enter
                            your Id" class="form-control">
                        <span class="text-danger"
                            *ngIf="registroEstilista.get('identificacion')?.hasError('required')">Identificacion
                            es
                            requerida</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Provincia</label>
                        <input type="text" formControlName="provincia" placeholder="Enter your Province"
                            class="form-control">
                        <span class="text-danger"
                            *ngIf="registroEstilista.get('provincia')?.hasError('required')">Provincia
                            es
                            requerido</span>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-9">
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" formControlName="direccion" placeholder=" Enter your
                            Address" class="form-control">
                        <span class="text-danger"
                            *ngIf="registroEstilista.get('direccion')?.hasError('required') ">Direccion
                            es
                            requerida</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Sexo</label>
                        <select class="form-control" formControlName="sexo">
                            <option value="null" [selected]="true" disabled>Seleccione...</option>
                            <option value="M">
                                Masculino
                            </option>
                            <option value="F">
                                Femenina
                            </option>
                        </select>
                        <span class="text-danger" *ngIf="registroEstilista.get('sexo')?.hasError('required') ">Sexo
                            es
                            requerido</span>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" formControlName="celular" placeholder="Enter your Phone"
                            class="form-control">
                        <span class="text-danger" *ngIf="registroEstilista.get('celular')?.hasError('pattern')">Solo
                            numeros</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha Nacimiento</label>

                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="fechaNacimiento"
                                placeholder="yyyy-mm-dd" name="d" ngbDatepicker #d="ngbDatepicker"
                                (dateSelect)="onSelect($event)" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                        <span class="text-danger"
                            *ngIf="registroEstilista.get('fechaNacimiento')?.hasError('required') ">Fecha
                            de nacimiento es
                            requerida</span>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" formControlName="email" placeholder="Enter your Email" class="form-control">
                        <span class="text-danger" *ngIf="registroEstilista.get('email')?.hasError('required') ">Email
                            es
                            requerido</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class=" text-center ">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="this.registroEstilista.invalid"><span>Aceptar</span></button>
                    <button type="button" class="btn btn-secondary" (click)="reset()"><span>Cancelar</span></button>
                </div>
            </div>
        </form>
    </div>
</div>